---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import FeaturesStatsAlt from "@components/sections/features/FeaturesStatsAlt.astro";

import features from "@data/fr/features.json";
import { partnersData } from "@/data_files/constants";
import { getRelativeLocaleUrl } from "astro:i18n";

// Import images for FeaturesNavs
import productImage1 from "@images/product-image-1.avif";
import productImage2 from "@images/product-image-2.avif";
import productImage3 from "@images/product-image-3.avif";
import productImage4 from "@images/product-image-4.avif";
import productImageMain1 from "@images/product-image-main-1.avif";
import productImageMain2 from "@images/product-image-main-2.avif";
---

<MainLayout lang="fr">
  
  <HeroSection
    title="Joints d'étanchéité de précision conçus pour des performances extrêmes"
    subTitle="Faites confiance à KAPSTEC pour des solutions sans fuite dans les applications pharmaceutiques, automobiles et industrielles"
    primaryBtn="En savoir plus"
    primaryBtnURL={getRelativeLocaleUrl("fr", "products")}
    secondaryBtn="Nous contacter"
    secondaryBtnURL={getRelativeLocaleUrl("fr", "contact")}
  />

  <FeaturesGeneral
    title="Qualité et expertise inégalées"
    subTitle="Fournir précision, fiabilité et innovation dans chaque produit que nous fabriquons."
    features={features}
  />

  <FeaturesNavs
    title="<span class='text-orange-500'>Nos Produits</span>"
    tabs={[
      {
        heading: "Joint d'huile",
        svg: "tools",
        src: productImage1,
        alt: "Joint d'huile",
        first: true,
      },
      {
        heading: "Joint statique",
        svg: "sparks",
        src: productImage2,
        alt: "Joint statique",
      },
      {
        heading: "Diaphragme en caoutchouc",
        svg: "hammer",
        src: productImage3,
        alt: "Diaphragme en caoutchouc",
      },
      {
        heading: "Joint de soupape",
        svg: "tools",
        src: productImage4,
        alt: "Joint de soupape",
      },
      {
        heading: "Joints sanitaires TC",
        svg: "sparks",
        src: productImageMain1,
        alt: "Joints sanitaires TC",
      },
      {
        heading: "Joints FBC",
        svg: "hammer",
        src: productImageMain2,
        alt: "Joints FBC",
      },
    ]}
  />

  <FeaturesStatsAlt
    title="Industries que nous servons"
    subTitle="Des chaînes de montage automobile aux environnements pharmaceutiques stériles, KapsTec fournit des solutions d'étanchéité fiables qui améliorent les performances et garantissent la sécurité dans un large éventail d'industries critiques."
    benefits={[
      "Automobile et aérospatiale",
      "Pharmaceutique et médical",
      "Transformation des aliments et boissons",
      "Fabrication industrielle",
      "Exploration pétrolière et gazière",
      "Production d'énergie",
    ]}
  />

  <ClientsSection
    title="Nos précieux clients"
    subTitle="Des partenaires de confiance dans des secteurs clés"
    partners={partnersData}
  />

  <HeroSectionAlt
    title="Prêt à renforcer vos opérations ?"
    subTitle="Associez-vous à KapsTek pour des solutions d'étanchéité de précision conçues pour fonctionner dans les environnements industriels les plus difficiles."
    url="#"
  />

</MainLayout>