---
// Extract the properties from Astro.props
const { title, subTitle } = Astro.props;
// Define TypeScript interface for the properties
interface Props {
  title: string;
  subTitle: string;
}
---

<!-- Container for title and subtitle -->
<div
  class="rounded-xl border border-neutral-200 bg-neutral-50 p-4 transition-shadow duration-300 hover:shadow-md dark:border-neutral-700 dark:bg-neutral-800"
>
  <p class="mb-2 text-3xl font-bold text-orange-500 dark:text-orange-400">
    {title}
  </p>
  <p class="text-sm font-medium text-neutral-600 dark:text-neutral-400">
    {subTitle}
  </p>
</div>
