---
import { Image } from "astro:assets";
import lightLogo from "@images/kapstec-logo-dark.png";
import darkLogo from "@images/kapstec-logo-light.png";

const { class: className } = Astro.props;
---

<a
  href="/"
  class="flex items-center justify-start gap-3 outline-hidden ring-zinc-500 transition duration-300 focus-visible:ring-3 dark:ring-zinc-200"
>
  <!-- Light Mode Logo -->
  <Image
    src={lightLogo}
    alt="Kapstec logo for light mode"
    class:list={[className, "block dark:hidden"]}
    format={"avif"}
    loading={"eager"}
  />
  <!-- Dark Mode Logo -->
  <Image
    src={darkLogo}
    alt="Kapstec logo for dark mode"
    class:list={[className, "hidden dark:block"]}
    format={"avif"}
    loading={"eager"}
  />
</a>
